# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.env
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
uploaded_docs/

# Runtime folders
uploaded_videos/
video_downloads/
extracted_audio/
uploaded_scripts/

# Database
cogniflow.db
