fastapi
uvicorn
ollama
python-dotenv
pydantic
pypdf
sentence-transformers
transformers
torch
faiss-cpu
numpy
python-multipart
easyocr
opencv-python
Pillow
indic-transliteration
librosa
scikit-learn
soundfile
faster-whisper
yt-dlp
reportlab
PyPDF2